@page "/"
@rendermode InteractiveServer

@using HR.Web.Blazor.Components.Shared
@using HR.Web.Blazor.ViewModel

@inject HomeViewModel Model;
@code {
    protected override async Task OnInitializedAsync()
    {
        await Model.InitAsync();
    }
    private async Task FilterAction()
    {
        await Model.LoadCestovnePrikazyAsync();
    }
    private AddCestovnyPrikazDialog? AddCestovnyPrikazDialog { get; set; }
    private UpdateCestovnyPrikazDialog? UpdateCestovnyPrikazDialog { get; set; }

    private async Task FilterChanged()
    {
        if (string.IsNullOrWhiteSpace(Model.SearchTerm) || Model.SearchTerm.Length > 2)
    {
            await FilterAction();
            await Task.Delay(300);
        }
    }


}
<PageTitle>Home</PageTitle>

<AddCestovnyPrikazDialog @ref="@AddCestovnyPrikazDialog" OnDataChangedModal="(async () => await Model.InitAsync())"></AddCestovnyPrikazDialog>
<UpdateCestovnyPrikazDialog @ref="@UpdateCestovnyPrikazDialog" OnDataChangedModal="(async () => await Model.InitAsync())"></UpdateCestovnyPrikazDialog>
<!-- Filters -->


<div class="container">
    <div class="mb-3 d-flex justify-content-end">
        <!-- Button trigger modal -->
        <button @onclick="() => AddCestovnyPrikazDialog.OpenAsync()" class="btn btn-dark">
            Vytvor cestovný príkaz
        </button>
    </div>

   
    <div class="mb-3">        
        <input id="searchInput" maxlength="50" type="text" @bind="Model.SearchTerm" @bind:event="oninput" @onkeyup="FilterChanged" placeholder="full text search for employee" class="form-control mb-1" />
        <button class="btn btn-primary" @onclick="FilterAction">Filter</button>
    </div>

    @if (Model.CestovnePrikazy?.Any() == true)
    {
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>                        
                        <th>Dátum vytvorenia</th>
                        <th>Osobné číslo</th>
                        <th>Meno</th>
                        <th>Priezvisko</th>
                        <th>Dátum narodenia</th>
                        <th>RodneCislo</th>
                        <th>Miesto začiatku mesto</th>
                        <th>Miesto začiatku štát</th>
                        <th>Miesto konca mesto</th>
                        <th>Miesto konca štát</th>
                        <th>Dátum a čas začiatku</th>
                        <th>Dátum a čas konca</th>
                        <th>Stav</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var prikaz in Model.CestovnePrikazy)
                    {
                        <tr>                            
                            <td>@prikaz.DatumVytvorenia</td>
                            <td>@prikaz.Ucastnik?.OsobneCislo</td>
                            <td>@prikaz.Ucastnik?.KrstneMeno</td>
                            <td>@prikaz.Ucastnik?.Priezvisko</td>
                            <td>@prikaz.Ucastnik?.DatumNarodenia</td>
                            <td>@prikaz.Ucastnik?.RodneCislo</td>
                            <td>@prikaz.MiestoZaciatkuMesto?.NazovMesta</td>
                            <td>@prikaz.MiestoZaciatkuMesto?.Stat</td>
                            <td>@prikaz.MiestoKoncaMesto?.NazovMesta</td>
                            <td>@prikaz.MiestoKoncaMesto?.Stat</td>
                            <td>@prikaz.DatumCasZaciatku</td>
                            <td>@prikaz.DatumCasKonca</td>
                            <td>@prikaz.Stav.NazovStavu</td>
                            <td>                       
                             <a class="btn btn-info btn-sm" @onclick="() => UpdateCestovnyPrikazDialog.OpenAsync(prikaz.CpId)">Detail/Edit</a>
                            </td>
                            <td>
                                <a class="btn btn-danger btn-sm" @onclick="async() => await  Model.DeleteCestovnyPrikazAsync(prikaz.CpId)">Delete</a>
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    }
    else
    {
        <h4>Žiadne cestovné príkazy na zobrazenie</h4>
    }
</div>