@using HR.Web.Blazor.ViewModel

   <!-- Modal -->
    ﻿<div class="modal @modalClass" tabindex="-1" role="dialog" style="display:@modalDisplay; overflow-y: auto;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Pridaj cestovný výkaz</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label class="form-label">Dátum a čas začiatku</label>
                        <input class="form-control" @bind="Model.DatumCasZaciatku" asp-format="{0:yyyy-MM-ddTHH:mm}" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Dátum a čas konca</label>
                        <input class="form-control" @bind="Model.DatumCasKonca" asp-format="{0:yyyy-MM-ddTHH:mm}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Miesto začiatku</label>
                        <input type="text" class="form-control" @bind="Model.MiestoZaciatkuMestoId" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Miesto konca</label>
                        <input type="text" class="form-control" @bind="Model.MiestoKoncaMestoId" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Stav</label>
                        <input type="text" class="form-control" @bind="Model.StavId" />
                    </div>
                    <div class="form-group">
                        @foreach (var dopravaTyp in Model.DopravaList)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="@dopravaTyp.DopravaTypId" @bind="dopravaTyp.IsSelected">
                                <label class="form-check-label" for="@dopravaTyp.DopravaTypId">
                                    @dopravaTyp.NazovTypu (@dopravaTyp.KodTypu)
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="Close" data-bs-dismiss="modal">Close</button>
                    <button type="submit" @onclick="@SaveClick" class="btn btn-dark">Add</button>
                </div>
            </div>
        </div>
    </div>    



@if (showBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}

@code {
    private string modalDisplay = "none;";
    private string modalClass = string.Empty;
    private bool showBackdrop = false;
    
    @inject AddCestovnyPrikazViewModel Model
    

    private void SaveClick()
    {
        var updatedModel = Model;
        this.Close();
    }

    public void Open()
    {
        Model.DatumCasZaciatku = DateTime.UtcNow;
        Model.DatumCasKonca = DateTime.UtcNow.AddDays(1);

        modalDisplay = "block;";
        modalClass = "Show";
        showBackdrop = true;
        StateHasChanged();
    }

    public void Close()
    {
        modalDisplay = "none";
        modalClass = "";
        showBackdrop = false;
        StateHasChanged();
    }
}
