@using HR.Web.Blazor.ViewModel

<!-- Modal -->
    ﻿<div class="modal @modalClass" tabindex="-1" role="dialog" style="display:@modalDisplay; overflow-y: auto;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Pridaj cestovný výkaz</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="Close"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <label class="form-label">Dátum a čas začiatku: </label>
                    <InputDate Type="InputDateType.DateTimeLocal"  @bind-Value="Model.DatumCasZaciatku" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Dátum a čas konca: </label>
                    <InputDate Type="InputDateType.DateTimeLocal" @bind-Value="Model.DatumCasKonca" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Miesto začiatku</label>
                    <input type="text" class="form-control" @bind="Model.MiestoZaciatkuMestoId" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Miesto konca</label>
                    <input type="text" class="form-control" @bind="Model.MiestoKoncaMestoId" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Stav</label>
                    <input type="text" class="form-control" @bind="Model.StavId" />
                </div>

                <div class="form-group">                   

                    @if (Model.DopravaList.Any())
                    {
                        <h4>Zvolené druhy dopravy</h4>
                        <ul class="list-group">
                            @foreach (var doprava in Model.DopravaList)
                            {
                                <li class="list-group-item">
                                    @doprava.NazovTypu (@doprava.KodTypu)
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <h4>Nie je vybraný žiadny druh dopravy, pridaj</h4>
                    }
                    <hr>
                        <h5>Vyber druh dopravy</h5>
                        <select id="dopravaSelect" class="form-control"  @bind="Model.SelectedDopravaId">
                            @foreach (var dopravaTyp in Model.DopravaTypes)
                            {
                                <option value="@dopravaTyp.DopravaTypId">
                                    @dopravaTyp.NazovTypu (@dopravaTyp.KodTypu)
                                </option>
                            }
                        </select>
                    
                   
                    <button class="btn btn-dark mt-3" @onclick="AddDopravaClick">Pridaj typ dopravy</button>
                    <button class="btn btn-dark mt-3" @onclick="DelDopravaClick">Vymaž posledný typ dopravy</button>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" @onclick="@SaveClick" class="btn btn-dark">Add</button>
                <button type="button" class="btn btn-secondary" @onclick="Close" data-bs-dismiss="modal">Close</button>                
            </div>
        </div>
    </div>
</div>



@if (showBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}

@code {
    private string modalDisplay = "none;";
    private string modalClass = string.Empty;
    private bool showBackdrop = false;

    @inject AddCestovnyPrikazViewModel Model

    private void AddDopravaClick()
    {
        Model.AddDoprava();
    }
    private void DelDopravaClick()
    {
        Model.RemoveDoprava();
    }

    private void SaveClick()
    {
        var updatedModel = Model;
        this.Close();
    }

    public void Open()
    {
        Model.DatumCasZaciatku = DateTime.UtcNow;
        Model.DatumCasKonca = DateTime.UtcNow.AddDays(1);

        modalDisplay = "block;";
        modalClass = "Show";
        showBackdrop = true;
        StateHasChanged();
    }

    public void Close()
    {
        modalDisplay = "none";
        modalClass = "";
        showBackdrop = false;
        StateHasChanged();
    }
}
