@using HR.Web.Blazor.ViewModel


@if (showBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}

@code {
    private string modalDisplay = "none;";
    private string modalClass = string.Empty;
    private bool showBackdrop = false;

    @inject UpdateCestovnyPrikazViewModel Model


    #region eventHandlers
    private void AddDopravaClick()
    {
        Model.AddDoprava();
    }
    private void DelDopravaClick()
    {
        Model.RemoveDoprava();
    }

    private async Task UpdateClick()
    {
        await Model.SaveAsync();
        this.Close();
        await OnDataChangedModal.InvokeAsync(true);
    }
    #endregion eventHandlers

    #region modal
    public async Task OpenAsync(int cestovnyPrikazId)
    {
        Model.CestovnyPrikazId = cestovnyPrikazId;
        await Model.InitAsync();
        Model.DatumCasZaciatku = DateTime.UtcNow;
        Model.DatumCasKonca = DateTime.UtcNow.AddDays(1);

        modalDisplay = "block;";
        modalClass = "Show";
        showBackdrop = true;
        StateHasChanged();

    }

    public void Close()
    {
        modalDisplay = "none";
        modalClass = "";
        showBackdrop = false;
        StateHasChanged();
    }

    [Parameter]
    public EventCallback<bool> OnDataChangedModal { get; set; }
    #endregion modal
}

<!-- Modal -->
    ﻿<div class="modal @modalClass" tabindex="-1" role="dialog" style="display:@modalDisplay; overflow-y: auto;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Pridaj cestovný výkaz</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="Close"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <label class="form-label">Dátum a čas začiatku: </label>
                    <InputDate Type="InputDateType.DateTimeLocal" class="form-control" @bind-Value="Model.DatumCasZaciatku" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Dátum a čas konca: </label>
                    <InputDate Type="InputDateType.DateTimeLocal" class="form-control" @bind-Value="Model.DatumCasKonca" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Miesto začiatku</label>
                    <select class="form-select" @bind="Model.MiestoZaciatkuMestoId">
                        @foreach (var mesto in Model.MestoList)
                        {
                            <option value="@mesto.MestoId">
                                @mesto.NazovMesta
                            </option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Miesto konca</label>
                    <select class="form-select" @bind="Model.MiestoKoncaMestoId">
                        @foreach (var mesto in Model.MestoList)
                        {
                            <option value="@mesto.MestoId">
                                @mesto.NazovMesta
                            </option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Stav</label>
                    <select class="form-select" @bind="Model.StavId">
                        @foreach (var stav in Model.StavList)
                        {
                            <option value="@stav.StavId">
                                @stav.NazovStavu (@stav.KodStavu)
                            </option>
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Účastník</label>
                    <select class="form-select" @bind="Model.ZamestnanecId">
                        @foreach (var zamestnanec in Model.ZamestnanecList)
                        {
                            <option value="@zamestnanec.OsobneCislo">
                                @zamestnanec.OsobneCislo @zamestnanec.KrstneMeno @zamestnanec.Priezvisko  (@zamestnanec.RodneCislo - @zamestnanec.DatumNarodenia)
                            </option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    @if (Model.DopravaAddList.Any())
                    {
                        <h4>Zvolené druhy dopravy</h4>
                        <ul class="list-group">
                            @foreach (var doprava in Model.DopravaAddList)
                            {
                                <li class="list-group-item">
                                    @doprava.NazovTypu (@doprava.KodTypu)
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <h4>Nie je vybraný žiadny druh dopravy, pridaj</h4>
                    }
                    <hr>
                    <h5>Vyber druh dopravy</h5>
                    <select class="form-select" @bind="Model.DopravaId">
                        @foreach (var dopravaTyp in Model.DopravaTypeList)
                        {
                            <option value="@dopravaTyp.DopravaTypId">
                                @dopravaTyp.NazovTypu (@dopravaTyp.KodTypu)
                            </option>
                        }
                    </select>
                    <button class="btn btn-secondary mt-3" @onclick="AddDopravaClick">Pridaj typ dopravy</button>
                    <button class="btn btn-light mt-3" @onclick="DelDopravaClick">Vymaž posledný typ dopravy</button>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" @onclick="@UpdateClick" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-secondary" @onclick="Close" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

